<div class="score-component">
  <div class="score-component__container" [ngClass]="showFinalResult ? '__showFinal' : ''">
    <div class="score-component__container__acertos">
      ACERTOS: {{acertos}}
    </div>
    <div class="score-component__container__erros">
      ERROS: {{erros}}
    </div>
    <div class="score-component__container__button">
      <a (click)="reset()">RESET</a>
    </div>
    <div class="score-component__container__results" *ngIf="showFinalResult">
      <ng-container *ngFor="let result of scores let i = index">
        Pergunta Nº: {{i+1}}<br/>
        Sua Resposta: {{getLetter(result.answerFromUser)}}<br/>
        Resposta Correta: {{getLetter(result.rightAnswer)}}<br/><br/>
      </ng-container>
      <h6>** resultado simplificado, apenas para estudos, as informações e respostas podem variar em uma prova real</h6>
    </div>
  </div>
</div>
